{# app/Resources/views/layout.html.twig #}

{# Nom du site :   SHOP MOI #}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, width=device-width" />
        <title>{% block title %}Shop Moi{% endblock %}</title>
        
        <link rel="stylesheet"  type="text/css" media="all"   href="{{ asset('bundles/smsite/css/styleGenerale.css') }}"/>
        {% block stylesheets %}
          {# On charge le CSS de bootstrap depuis le site directement #}

        {% endblock %}

        <meta name="keywwords" content="Shop Around - Great free html template for on-line shop. Use it as a start point for your on line business. The template can be easily implemented in many open source E-commerce platforms" />
        <meta name="description" content="Shop Around - Great free html template for on-line shop. Use it as a start point for your on line business. The template can be easily implemented in many open source E-commerce platforms" />

        <!-- JS -->
        <script src="{{ asset('bundles/smsite/js/jquery-1.4.1.min.js') }}" type="text/javascript"></script>	
        <script src="{{ asset('bundles/smsite/js/jquery.jcarousel.pack.js') }}" type="text/javascript"></script>	
        <script src="{{ asset('bundles/smsite/js/jquery-func.js') }}" type="text/javascript"></script>	
        <!-- End JS -->
        
        
    </head>

    <body>
        <!-- Shell -->	
        <div class="shell">
            
                <!-- Header -->	
                <div id="header">
                    <div id="header_background">
                        <a id="menu" href="#0">
                            <img id="img_menu" src="{{ asset('bundles/smsite/images/mobile/threeline.png') }}" />
                            <p id="text_menu">MENU</p>
                        </a>
                            
                        <a id="logo" href="#0">
                            <img id="img_logo" src="{{ asset('bundles/smsite/images/logo.png') }}" />
                            
                        </a>
                        <ul id="right">
                            <li class="compte">
                                <a id="profil" href="#0">
                                    <img id="img_profil" src="{{ asset('bundles/smsite/images/mobile/profile.png') }}"   />
                                    <p class="text_right">PROFIL</p>
                                </a>
                            </li>
                            
                            <li class="favoris">
                                <a id="coeur" href="#0">
                                    <img id="img_coeur" src="{{ asset('bundles/smsite/images/mobile/heart.png') }}" />
                                    <p class="text_right">MES FAVORIS</p>
                                </a>
                            </li>
                            
                            <li class="panier">
                                <a id="panier" href="#0">
                                    <img id="img_panier" src="{{ asset('bundles/smsite/images/mobile/panier.png') }}" />
                                    <p class="text_right">PANIER</p>
                                </a>
                            </li>
                        </div> 
                            
                            
                            
                    </div>  
                    <!-- End HeaderBackground -->
                    
                    <div id="search_bar">

                    </div>  
                    <!-- End search_bar -->
                    
                </div>
                <!-- End Header -->
                {#
                {% block body %}
                    
                {% endblock %}
                #}



        </div>	
        <!-- End Shell -->

    </body>
</html>