{% extends "::layoutGenerale.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet"  type="text/css" media="all"   href="{{ asset('bundles/smsite/css/produit.css') }}"/>
{% endblock %}    
    
{% block title %}
 {{ parent() }}
{% endblock %}

{% block Ariane %}
  Produit
{% endblock %}

{% block body %}
    <div id="contenu">
        <div id="blockImages">
            
            
            {# on compte le nombre d'images avec la résolution 75x75 dans le tableau d'images #}
            {% set nbimage =0 %}
            {% for image in images %}
                {% if image.resolution == "75x75" %}
                    
                    {% set nbimage = nbimage+1 %}
                {% endif %}
            {% endfor %}
            
            {# Si le nombre d'images dans la colonne d'images est supérieur à 6, on affiche les fleches de navigation #}
            {% if nbimage > 6 %}
                <!--<a href="#"><div id="fleche"/></div></a>-->
                <div class="colonne-nav">
                        <a href="#" class="prev"></a>

                </div>
            {% endif %}
            
            
        
            
            
            <div id="colonneImages" >
                <div class="colonne-products">
                <div class="colonne-products-holder">
                <ul>    
                    {# on affiche toutes les images du tableau d'images qui ont une résolution égale à 75x75 #}
                    {% for image in images %}

                        {% if image.resolution == "75x75" %}
                            <li><img src="{{ asset(''~image.adresse ) }}" alt="{{ images.0.alt }}" name="{{ image.nomImage }}" values="null" class="imagescol"/></li>

                        {% endif %}
                    {% endfor %}      
                </ul>
                </div>


                </div>
            </div>
            {# Si le nombre d'images dans la colonne d'images est supérieur à 6, on affiche les fleches de navigation #}
            {% if nbimage > 6 %}
                <!--<a href="#"><div id="fleche"/></div></a>-->
                <div class="colonne-nav">

                        <a href="#" class="next"></a>
                </div>
            {% endif %}
        </div>
        
        {# Affiche l'image qui est de face (son nom commence par "av_") en tant qu'image principale #}
        {% set image1 = 0 %}
        {% for image in images %}
            {% if image.resolution in ["1200x1200", "1400x1400", "1500x1500"] and image.nomImage starts with 'av_' %}
                {% set image1 = image.adresse %}
            {% endif %}
        {% endfor %}

        <img id="imagePrincipale" src="{{ asset(''~image1 ) }}" alt="{{ images.0.alt }}" />

        <div id="description">
            <div id="info">
                <div id="block1">
                    <h1 id="redtitle">{{ produit.description}}</h1>
                    <div id="modele">

                        {{ produit.modele}}
                    </div>
                </div>
                <div id="prix">
                    {{ produit.prix}} €
                </div>
            </div>
                
            <div id="marque">
                {# produit.marque.nom #}
                
            </div>
            
            <div id="logoMarque">
                <img id="LogoMarque" src="{{ asset(''~produit.marque.logoAdresse ) }}" alt="{{ images.0.alt }}" />
            </div>
            
            <div id="taille"> <h2 class="label"> Tailles: </h2> <br>
                <ul id="tailles" class="tailles-liste">
                    <li class="size">
                        <a href="#3750" title="S" class="small">S</a>
                    </li>
                    <li class="size">
                        <a href="#3748" title="M" class="small">M</a>
                    </li>
                    <li class="size">
                        <a href="#3746" title="L" class="small">L</a>
                    </li>
                    <li class="size">
                        <a href="#3756" title="XL" class="small">XL</a>
                    </li>
                    <li class="size">
                        <a href="#3758" title="XXL" class="small">XXL</a>
                    </li>
                </ul>
            </div>
            
            <div id="descriptionEntier">
                <br> <h2 class="label"> Description: </h2>  <br>
                <p id="policeDescription">{{ produit.descriptionEntier}}</p>
            </div>
            <div id="panier"> 
                <button type="submit" id="PanierBtn" class="PanierButton" name="panier">
                    <span id="addpanier">Ajouter au panier</span>
                </button>
            </div>
        </div>
        
            <div id="coloris">    
                
                <div id="color">   
                    <ul class="list-style-type-none">    
                    {# on parcours le tableau contenant les images de tous les produits de la meme famille #}    
                    {% for imagefamille in imagesfamille %}
                        
                        {# Comme il y a plusieurs produits dans ce tableau, il faut faire un 2eme for pour parcourir les produits séparemment  #} 
                        {% for famille in imagefamille %}
                            
                            {% if famille.resolution == "100x100" %}
                                <div id="title">    
                                    <h3 class="label">Couleurs disponibles</h3>
                                </div>
                                <li><a href="{{ path('produit_route', { 'id': famille.produit.id }) }}"><img src="{{ asset(''~famille.adresse ) }}" alt="{{ imagefamille.0.alt }}" name="{{ famille.nomImage }}" values="null" class="imagesfamille"/></a>
                                    <p style="width:100px;text-align: center;">
                                        {{ famille.produit.couleur }}
                                    </p>
                                </li>
                            {% endif %}        
                            
                        {% endfor %}
                        
                    {% endfor %}  
                    
                    </ul>
             
                </div>
            </div>
            <div id="recommandation">  
                <div id="title">  
                    <h3 class="label">ShopMoi vous recommande</h3>
                </div>
                <div id="recomm">    
                    
                    
                    <ul class="list-style-type-none">    
                    {# on parcours le tableau contenant les images de tous les produits de la meme famille #}    
                    {% for imagerecommandation in imagesrecommandation %}
                        
                        {# Comme il y a plusieurs produits dans ce tableau, il faut faire un 2eme for pour parcourir les produits séparemment  #} 
                        {% for recommandation in imagerecommandation %}
                            
                            {% if recommandation.resolution == "100x100" %}
                                
                                <li><a href="{{ path('produit_route', { 'id': recommandation.produit.id }) }}"><img src="{{ asset(''~recommandation.adresse ) }}" alt="{{ imagerecommandation.0.alt }}" name="{{ recommandation.nomImage }}" values="null" class="imagesfamille"/></a>
                                    <p style="width:100px;text-align: center;">
                                        {{ recommandation.produit.description }}
                                    </p>
                                </li>
                            {% endif %}        
                            
                        {% endfor %}
                        
                    {% endfor %}  
                    
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}

