{% extends "::layoutGenerale.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet"  type="text/css" media="all"   href="{{ asset('bundles/smsite/css/produit.css') }}"/>
{% endblock %}    
    
{% block title %}
 {{ parent() }}
{% endblock %}

{% block Ariane %}
  Produit
{% endblock %}

{% block body %}
    <div id="contenu">
        <div id="blockImages">
            
            {# Si le nombre d'images dans la colonne d'images est supérieur à 5, on affiche les fleches de navigation #}
            {% if images|length > 5 %}
                <!--<a href="#"><div id="fleche"/></div></a>-->
                <div class="colonne-nav">
                        <a href="#" class="prev"></a>

                </div>
            {% endif %}
            
            <div id="colonneImages" >
                <div class="colonne-products">
                <div class="colonne-products-holder">
                <ul>    
                    {# on affiche toutes les images du tableau d'images qui ont une résolution égale à 75x75 #}
                    {% for image in images %}

                        {% if image.resolution == "75x75" %}
                            <li><img src="{{ asset(''~image.adresse ) }}" alt="{{ images.0.alt }}" name="{{ image.nomImage }}" values="null" class="imagescol"/></li>

                        {% endif %}
                    {% endfor %}      
                </ul>
                </div>


                </div>
            </div>
            {# Si le nombre d'images dans la colonne d'images est supérieur à 5, on affiche les fleches de navigation #}
            {% if images|length > 5 %}
                <!--<a href="#"><div id="fleche"/></div></a>-->
                <div class="colonne-nav">

                        <a href="#" class="next"></a>
                </div>
            {% endif %}
        </div>

        {% set image1 = 0 %}
        {% for image in images %}
            {% if image.resolution in ["1200x1200", "1400x1400", "1500x1500"] and image.nomImage starts with 'av_' %}
                {% set image1 = image.adresse %}
            {% endif %}
        {% endfor %}

        <img id="imagePrincipale" src="{{ asset(''~image1 ) }}" alt="{{ images.0.alt }}" />

        <div id="description">
            <div id="info">
                <div id="modele">
                    <h1>{{ produit.description}}</h1>
                    {{ produit.modele}}
                </div>
                <div id="prix">
                    {{ produit.prix}} €
                </div>
            </div>
                
            <div id="marque">
                {# produit.marque.nom #}
                
            </div>
            
            <div id="logoMarque">
                <img id="LogoMarque" src="{{ asset(''~produit.marque.logoAdresse ) }}" alt="{{ images.0.alt }}" />
            </div>
            
            <div id="taille">

            </div>
        </div>
        
            <div id="coloris">    
                <div id="titre">    
                    <h2>Disponible aussi en:</h2>
                </div>
                <div id="color">   
                    <ul class="list-style-type-none">    
                    {# on parcours le tableau contenant les images de tous les produits de la meme famille #}    
                    {% for imagefamille in imagesfamille %}
                        
                        {# Comme il y a plusieurs produits dans ce tableau, il faut faire un 2eme for pour parcourir les produits séparemment  #} 
                        {% for famille in imagefamille %}
                            
                            {% if famille.resolution == "100x100" %}
                                
                                <li><img src="{{ asset(''~famille.adresse ) }}" alt="{{ imagefamille.0.alt }}" name="{{ famille.nomImage }}" values="null" class="imagesfamille"/>
                                    <p style="width:100px;text-align: center;">
                                        {{ famille.produit.couleur }}
                                    </p>
                                </li>
                            {% endif %}        
                            
                        {% endfor %}
                        
                    {% endfor %}  
                    
                    </ul>
             
                </div>
            </div>
    </div>
{% endblock %}

